html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: #161724;
  color: #25283d;
}

.header {
  margin: auto;
  max-width: 1040px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.brand {
  width: 124px;
}

.drawing-board {
  width: 1040px;
  margin: auto;
  border-radius: 6px;
  padding: 20px;
  position: relative;
}

.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  background-image: linear-gradient(123.06deg, #22cd88 16.53%, #04baf5 82.92%);
}

#board {
  display: block;
  align-self: center;
  background: #fff;
  image-rendering: optimizeSpeed;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  cursor: crosshair;
}

#colorpicker {
  opacity: 0;
  background: none;
  width: 24px;
  height: 24px;
  border: none;
}

#datepicker {
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.realtime-label {
  color: white;
}

#color-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  background-color: black;
}

.picker-wrapper {
  display: flex;
  align-items: center;
  border-radius: 40px;
  background: #fff;
  padding: 8px 10px 8px 15px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}

.color-wrapper {
  margin-left: 8px;
  position: relative;
  border-radius: 50%;
}

.tools {
  display: flex;
  gap: 20px;
  align-items: end;
}

.cross {
  width: 10px;
  margin-right: 5px;
  display: none;
}
